page-hotels {
    #maincontent{
        background-color: #323643;
       // background-color: rgb(250, 250, 250);
        color:white;
    
    }


    ion-icon{
        color:goldenrod;
    }

    h6{
        color:white;
    }
}
